<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="tit1">مرحبًا بكم في نظام الإدارة العقارية</h3>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <a href="{% url 'site_list' %}" class="btn btn-primary btn-lg">المواقع</a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="{% url 'rental_unit_list' %}" id="btn1" class="btn btn-success btn-lg">المعرض او الورش  </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="{% url 'tenant_list' %}" id="btn1" class="btn btn-info btn-lg">المستاجرين</a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="{% url 'contract_list' %}" id="btn1" class="btn btn-warning btn-lg">العقود</a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="#"   id="btn1" class="btn btn-warning btn-lg">سندات القبض</a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="#" id="btn1" class="btn btn-warning btn-lg">التقارير</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}